# Python
__pycache__/

# Pixi
.pixi/*
!.pixi/config.toml

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ML / training artifacts
mlruns/
lightning_logs/
mlflow_exports/
optuna_studies/

# Build artifacts
build/
dist/
*.egg-info/

# OS / editor noise
.DS_Store
.vscode/

# Datasets
*.csv
*.png
